.container{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.leftContainer{
    width: 50%;
    height: 75vh;
    background-color: #fff;
    padding: 2%;


}
.rightContainer{
    width: 50%;
    height: 75vh;
    background-color: #fff;
    padding: 2%;
    
}
.title{
    font: normal normal bold 25px/23px Nunito;
    color: #525252;
    opacity: 1;
    margin-bottom: 2vh;
}
.markTitle{
    font: normal normal normal 15px/20px Nunito;
    color: #525252;
    opacity: 1;
}
.nameInput{
    width: 96%;
    border: none;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 12px;
    margin-bottom: 2vh;
}
textarea{
    width: 96%;
    border: none;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 12px;
    margin-bottom: 2vh;
}
.categoryAndBrand, .colorAndStatus{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vh;
}
.category, .brand, .color, .status{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.categoryAndBrand select, .colorAndStatus select{
    border: none;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 12px;
}
.priceAndOffer{
    display: flex;
    flex-direction: column;
    width: 226px;
}
.priceInput{
    border: none;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 12px;
}
.switchContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgAddProductContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 70vh;
}
.inputAddProductContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 15vh;
    border: 1px dashed #B1B1B1;
    border-radius: 10px;
    margin-top: 25px;

}
.btnContainer{
    display: flex;
    justify-content: end;
    width: 100%;
}
.btnContainer button{
    background-color: #4B9CE2;
    color: #fff;
    padding: 10px;
    width: 42.5%;
    margin-right: 2.5%;
    border-radius: 8px;
}
.uploadText{
    font: normal normal 600 14px/15px Nunito;
    color: #525252;
}
.uploadWarnText{
    font: normal normal normal 12px/14px Nunito;
    color: #B1B1B1;
    opacity: 1;
    margin-top: 5px;
}
.errorSpan{
    color: red;
    font: normal normal normal 15px/20px Nunito;
}