.registerContainer{
    display: flex;
}
.registerFormContainer{
    width: 55%;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registerForm{
    width: 52.4%;
    height: 38vh;
    background-color: #FFFFFF;
    padding: 70px 90px 70px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo{
    margin-bottom: 5.1%;
}
.registerTitle{
    width: 100%;
    height: 4vh;
    font: normal normal bold 32px/43px Nunito;
    color: #525252;
    opacity: 1;
    margin-bottom: 10px;
}
.registerSubtitle{
    width: 100%;
    height: 1.85vh;
    font: normal normal normal 15px/20px Nunito;
    color: #525252;
}

.registerForm label{
    font: normal normal normal 15px/20px Nunito;
    color: #525252;
    opacity: 1;
}
.registerForm input{
    width: 100%;
    height: 4.16vh;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    border: none;
}
.registerForm button{
    width: 100%;
    height: 4.16vh;
    background: #4B9CE2 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    font: normal normal bold 18px/24px Nunito;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    padding: 2px auto;
}
.inputBlock{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 15px;
}
.commonClass{
    text-align: center;
}
.accountQuestion{
    font: normal normal normal 15px/20px Nunito;
    color: #525252;
}
.accountQuestion a{
    font: normal normal bold 15px/20px Nunito;
    color: #4B9CE2;
    text-decoration: none;
}
.registerContainer span{
    color: red;
}